:root {
  --main-bg: #282a36;
  --quizbox-bg: #1d3557;
  --answerbox-bg: #44475a;
  --questionbox-bg: #457b9d;
  --question-bg: #1d3557;
  --selection: #44475a;
  --light-text: #f8f8f2;
  --dark-text: #282a36;
  --border: #44475a;
  --dark-text: #282a36;
  --answerbutton: hsla(104, 52%, 96%, 0.7);
  --answerbutton-hover: #f1faee;
  --answerbutton-green: hsla(83, 68%, 47%, 0.7);
  --answerbutton-green-hover: #8ac926;
  --answerbutton-red: hsla(0, 100%, 50%, 0.7);
  --answerbutton-red-hover: #ff595e;
  --h1-bg: #f1faee;
  --h2-bg: #a8dadc;
  --h3-bg: #ffb86c;
  --cyan: #8be9fd;
  --green: #8ac926;
  --green-hover: #6ab04c;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #62596d;
  --red: #ff595e;
  --yellow: #f1fa8c;
}
